<div class="container">

  <%= simple_form_for @exhibition do |f| %>
  <h4> Edit Exhibition </h4>
  <%= f.input :name %>
  <%= f.input :artist %>
  <%= f.input :video %>
  <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.submit class: 'btn btn-light' %>
  <%end%>

</div>