<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-5 col-lg-5">


      <a href="artist.php?la=en&amp;artist_id=73" class="galerie_templon_artistname" title="Will Cotton">
        Will Cotton </a><br>
      <br>
      <span class="galerie_templon_exhibition_title galerie_templon_work_block_data_line_height">
        <%= @exhibition.name %> </span><br>
      <span class="galerie_templon_date galerie_templon_work_block_data_line_height">
        <%= @exhibition.start_date %> to <%= @exhibition.end_date %> </span><br>
      <span class="galerie_templon_date galerie_templon_work_block_data_line_height">
        <%= @exhibition.galery.location %> </span> <br>
      <br>
      <br>

      <a href="exhibition.php?la=en&amp;show_id=668&amp;display_work=1" class="galerie_templon_expoDetailMenu  active " title="Selected work">Selected works</a><br>
      <a href="exhibition.php?la=en&amp;show_id=668&amp;display_press=1" class="galerie_templon_expoDetailMenu " title="Press release">Press release</a>
      <span class="galerie_templon_expoDetailMenuSpace"> - </span><a href="/pdf/expo/pdf_668_us.pdf" class="galerie_templon_expoDetailMenu" target="_blank"><img src="imagesdesign/download_pdf.png" width="16" height="16" alt=""></a>
      <br>
      <a href="exhibition.php?la=en&amp;show_id=668&amp;display_video=1" class="galerie_templon_expoDetailMenu " title="Video">Video</a><br>

      <br>
      <br>
      <p>We invite you to experience our new online viewing room for an immersive visit of this exhibition.</p>
      <p><a href="http://viewingroom.templon.com/en/will-cotton/" target="_blank" rel="noopener">viewingroom.templon.com</a></p>
    </div>
    <div class="col-12 col-sm-12 col-md-7 col-lg-7">
      <div class="text-center" style="margin-top: 5px;">
        <div id="myCarousel" class="carousel slide" data-interval="false">
          <div class="carousel-inner center">
            <% @exhibition.art_pieces.each do |art_piece| %>
            <% if art_piece.eql?(@exhibition.art_pieces.first) %>
            <div class="carousel-item  active ">
              <% else %>
              <div class="carousel-item ">
                <%end%>
                <div class="text-center" style="width: 100%;">
                  <%= cl_image_tag art_piece.photo.key, class:"d-block  mx-auto", style:"left: auto;right: auto; width:400px;" %>
                  <div class="carousel-caption"> <span class="galerie_templon_exhibition_title">
                      <%= art_piece.name %></span><br>

                    <span class="galerie_templon_date">
                      <%= art_piece.description %><br>
                      <%= art_piece.dimension %><br>
                    </span></div>
                </div>
              </div>
              <%end%>












            </div>
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>

      </div>


    </div>
  </div>

  <%= link_to  "create art_pieces", new_exhibition_art_piece_path(@exhibition) , :class => "btn btn-primary" %>