  <% content_for :meta_title, @galery.name %>

  <div class="container">
    <div class="card text-center p-3 mb-2">
      <h2><%= @galery.name %> </h2>
      <h6><%= @galery.location %></h6>
    </div>
    <div class="card text-center">
      <% if user_signed_in?%>
      <span><%= link_to  "New Exhibition", new_galery_exhibition_path(@galery) , :class => "btn btn-light" %><% if current_user.eql?(@galery.user)%> | <%= link_to "Edit Galery", edit_galery_path(@galery), :class => "btn btn-light"  %><%end%> |<%end%> <span><%= link_to "Back", galeries_path, :class => "btn btn-light"  %> </span></div>

    <div class="row" style="margin-top:10px;">
      <div class="col-12 col-lg-9">
        <% @galery.exhibitions.each do |exhibition| %>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="text-center">
              <%=link_to( cl_image_tag(exhibition.art_pieces.last.photo.key, class: "img-fluid", style: "height:400px;"), exhibition_path(exhibition) )%>
            </div>
            <div class="text-center galerie_templon_work_block_data">
              <span class="exhibition_artistname exhibition_work_block_data_line_height"><%= exhibition.artist %></span><br>
              <span class="exhibitions_exhibition_title exhibition_work_block_data_line_height"> <%= exhibition.name %></span><br>
              <span class="exhibition_date exhibition_work_block_data_line_height"><%= exhibition.start_date %> to <%= exhibition.end_date %></span>
              <br>
              <span class="exhibition_date exhibition_work_block_data_line_height"><%=@galery.location%></span>
              <br>
              <br>


            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>