<h1> NEW EXHIBITION </h1>
<div class="container">
  <%= simple_form_for(@exhibition, url: galery_exhibitions_path, method: :post) do |f| %>
  <%= f.input :name %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.submit class: 'btn btn-primary' %>
  <%end%>

</div>