<div class="container">

  <%= simple_form_for(@exhibition, url: galery_exhibitions_path, method: :post) do |f| %>
  <h4> New Exhibition </h4>
  <%= f.input :name %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit class: 'btn btn-primary' %>
  <%end%>

</div>